<launch>
    <!--
    Launch file for dryland tests in March
    using MacGyver
    -->

    <!--
    Parameters
    -->

    <rosparam file="$(find highlevel_control)/launch/parameters/default.yaml" command="load"/>

    <!--
    Nodes
    -->

    <node name = "heading_control" pkg="highlevel_control" type = "heading_control" />
    <node name = "tack" pkg="highlevel_control" type = "tack" />
    <node name = "pid_rudder" pkg="lowlevel_control" type = "pid_rudder" />

</launch>
