<launch>
    <!--
    General test file to launch all existing nodes to talk to real hardware
    -->

    <!--
    Parameters
    -->
    <rosparam file="$(find sailing_robot)/launch/parameters/default.yaml" command="load"/>

    <rosparam file="$(find sailing_robot)/launch/parameters/calibration_blackpython.yaml" ns="/calibration" command="load"/>
    <rosparam file="$(find sailing_robot)/launch/parameters/sailsettings_blackpython.yaml" command="load"/>
    <rosparam file="$(find sailing_robot)/launch/parameters/servos_blackpython.yaml" command="load"/>

    <rosparam file="$(find sailing_robot)/launch/parameters/viana_obstacle_avoidance_waypoints_gen_obstacle.yaml" command="load"/>
    <!--rosparam file="$(find sailing_robot)/launch/parameters/boldrewood_waypoints.yaml" command="load"/-->
    <!--rosparam file="$(find sailing_robot)/launch/parameters/eastleigh_waypoints.yaml" command="load"/-->

    <rosparam file="$(find sailing_robot)/launch/parameters/simulator.yaml" command="load"/>



    <rosparam file="$(find sailing_robot)/launch/parameters/default.yaml" command="load"/>

    <!--
    Nodes
    -->

    <node name="debugging_2D_plot" pkg='sailing_robot' type="debugging_2D_plot"/>
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.0 0.0 0.0 0.0 0.0 0.0 map my_frame 100" />
 </launch>

