<launch>
    <!--
    First challenge, WRSC 2016
    -->

    <!--
    Parameters
    -->

    <rosparam file="$(find sailing_robot)/launch/parameters/default.yaml" command="load"/>

    <rosparam file="$(find sailing_robot)/launch/parameters/calibration_blackpython.yaml" ns="/calibration" command="load"/>
    <rosparam file="$(find sailing_robot)/launch/parameters/sailsettings_blackpython_rigA.yaml" command="load"/>
    <rosparam file="$(find sailing_robot)/launch/parameters/servos_blackpython.yaml" command="load"/>


    <!--
    Nodes
    -->
    <node name = "sensor_driver_gps" pkg='sailing_robot' type="sensor_driver_gps" respawn="true"/>
    <node name = "sensor_driver_imu" pkg="sailing_robot" type="sensor_driver_imu"  respawn="true"/>
    <node name = "sensor_driver_wind_direction" pkg="sailing_robot" type="sensor_driver_wind_direction"  respawn="true"/>

    <node name = "actuator_demand_rudder" pkg="sailing_robot" type = "actuator_demand_rudder" respawn="true"/>
    <node name = "actuator_driver_sail" pkg="sailing_robot" type = "actuator_driver_sail" respawn="true"/>
    <node name = "actuator_driver_rudder" pkg="sailing_robot" type="actuator_driver_rudder"  respawn="true"/>

 </launch>
